<div class="h-100 w-100 d-flex flex-column-reverse shadow bg-dark" style="border: 1px solid rgba(0, 0, 0, 0.125);">
  <div class="w-100 shadow-lg input-group" style="height: 5rem;">
    <input type="text" class="form-control p-4 rounded-0 h-100 bg-dark text-white" placeholder="Type your message!" aria-label="Message input">
    <div class="input-group-append bg-dark h-100" style="min-width: 20%;">
      <button class="btn btn-outline-light rounded-0 h-100 w-100 font-weight-bold" type="button">SEND</button>
    </div>
  </div>

  <div #chatWindow style="overflow-y: scroll; background-color: rgba(0, 0, 0, 0.03);">
    <div *ngFor="let message of messages" class="d-flex w-100"
         [ngClass]="{'justify-content-start': message.author === authorEnum.OTHER, 'justify-content-end': message.author === authorEnum.SELF}">
      <p class="rounded text-white p-2 ml-1 mr-1 mb-2" style="max-width: 75%;"
         [ngClass]="{'bg-primary': message.author === authorEnum.OTHER, 'bg-info': message.author === authorEnum.SELF}">
        {{message.content}}
      </p>
    </div>
  </div>
</div>
