/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cdcdcd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7d7d7d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b4b4b;
}

.chat-background {
  background-color: rgb(47, 54, 60)
}

