<div class="pl-0 pr-0 pl-sm-5 pr-sm-5 pl-md-0 pr-md-0 pl-xl-5 pr-xl-5">
  <div class="card text-white box-shadow bg-dark" style="max-height: 90vh;">
    <div class="card-header" style="max-height: 65vh;">
      <div id="carouselPhotosIndicators" class="carousel slide" style="max-height: 65vh;" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" style="max-height: 65vh;">
          <div *ngFor="let photo of photos; let i = index" [ngClass]="{'active' : i == 0}" class="carousel-item" style="max-height: 65vh;">
            <img class="d-block w-100" style="max-height: 65vh;" [src]="photo" alt="{{'Photo no. ' + (i + 1)}}">
          </div>
        </div>
        <ol class="carousel-indicators">
          <li *ngFor="let photo of photos; let i = index" [ngClass]="{'active' : i == 0}" data-target="#carouselPhotosIndicators" attr.data-slide-to="{{i}}"></li>
        </ol>
        <a class="carousel-control-prev" href="#carouselPhotosIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselPhotosIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="card-body" style="max-height: 30vh;">
      <div class="card-title">
        <h1>{{nickname}}</h1>
        <p style="white-space: pre-line">{{bio}}</p>
      </div>

      <div class="card-footer text-center">
        <div class="btn-group btn-group-lg w-100">
          <button type="button" class="btn btn-danger w-50">NO</button>
          <button type="button" class="btn btn-success w-50">YES</button>
        </div>
      </div>
    </div>
  </div>
</div>
