<nav class="navbar navbar-dark bg-dark" style="max-height: 10vh; height: 10vh;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleSettings"
          aria-controls="navbarToggleSettings" aria-expanded="false" aria-label="Toggle navigation">
    <span octicon="gear" [width]="24"></span>
  </button>

  <a class="navbar-brand mr-0" href="">rndvz</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleChat"
          aria-controls="navbarToggleChat" aria-expanded="false" aria-label="Toggle navigation">
    <span octicon="mail" [width]="24"></span>
  </button>
</nav>
