<nav class="navbar navbar-dark bg-dark navbar-height">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleSettings"
          aria-controls="navbarToggleSettings" aria-expanded="false" aria-label="Toggle navigation">
    <span octicon="gear" [width]="28"></span>
  </button>

  <a class="navbar-brand mr-0 no-select-text" href="">rndvz</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleChat"
          aria-controls="navbarToggleChat" aria-expanded="false" aria-label="Toggle navigation">
    <span octicon="mail" [width]="28"></span>
  </button>
</nav>
