<nav class="navbar navbar-dark bg-dark navbar-height" style="padding-top: 0.3rem; padding-bottom: 0.3rem;">
  <button class="navbar-toggler h-100" type="button" routerLink="/settings">
    <i class="fas fa-cogs fa-lg"></i>
  </button>

  <button class="navbar-toggler h-100" type="button" routerLink="/refresh">
    <i class="fas fa-heartbeat fa-lg"></i>
  </button>

  <button class="navbar-toggler h-100" type="button" data-toggle="collapse" data-target="#navbarToggleChat"
          aria-controls="navbarToggleChat" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-users fa-lg"></i>
  </button>
</nav>
