.table-click tbody tr:active {
  background-color: rgba(0,0,0,.2);
}

.table-hover-pointer tbody tr:hover {
  cursor: pointer;
}

.rectangle-4rem {
  height: 4rem;
}

.square-4rem {
  height: 4rem;
  width: 4rem
}

.square-fancy {
  border-radius: 0 20% 0;
}

.table-background {
  background-color: rgba(0, 0, 0, 0.06);
  border-color: rgba(0, 0, 0, 0.1) !important;
}
